.hero-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  /* margin-top: 60px; */
  padding: 20px;
  background-color: var(--bg-card);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3);
  border-radius: 10px;
  z-index: 10000 !important;
  border-top: 1px solid #eee;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.stat-icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-icon-wrapper.blue {
  background-color: #e0e7ff;
  color: #4338ca;
}

.stat-icon-wrapper.purple {
  background-color: #f3e8ff;
  color: #7e22ce;
}

.stat-icon-wrapper.orange {
  background-color: #ffedd5;
  color: #c2410c;
}

.stat-text {
  display: flex;
  flex-direction: column;
}

.stat-text strong {
  font-size: 24px;
  color: var(--text-main);
  line-height: 1.2;
}

.stat-text span {
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: 500;
}

@media (max-width: 767px) {
 .hero-stats {
    margin-top: 30px;
    padding: 25px 15px;
    background: #ffffff; 
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    border-top: none; /* نشيل الخط القديم طالما عملنا Box */
  }

  .stat-item {
    justify-content: flex-start;
    padding-left: 20px;
  }

  .stat-text strong {
    font-size: 22px;
  }
}
